@media screen and (max-width: 1440px) {
  .flip-container{
    width: 400px;
    height: 400px;
    margin-right: 7rem;
    margin-top: -3rem;
  }
}

@media only screen and (min-width: 1440px) and (min-height: 642px){
  .section__text {
    padding: 10px;
    font-size: 60px;
    line-height: 1.5;
    margin: 10px;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .flip-container1{
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .flip-container {
    width: 370px;
    height: 370px;
    margin: 0 auto 2rem;
    margin-left: 5rem;
    margin-top: -2rem;
  }
  .flip-container1 {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-left: 20rem;
  }
  .about-containers {
    margin-top: 0;
  }

}

@media screen and (max-width: 980px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .flip-container {
    width: 300px;
    height: 300px;
    margin: 0 auto 2rem;
    margin-left: 3rem;
    margin-top: 0rem;
  }
  .flip-container1 {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-left: 13rem;
  }
  .about-containers {
    margin-top: 0;
  }

}

@media only screen and (min-width: 790px) and (max-width: 1010px) and (min-height: 642px) {
  #profile {
    height: 12vh;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .flip-container {
    width: 300px;
    height: 300px;
    margin: 0 auto 2rem;
    margin-left: 3rem;
    margin-top: -13.2rem;
  }
  .flip-container1 {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-left: 18.5rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .section__text {
    padding: 10px;
    font-size: 50px;
    line-height: 1.5;
    margin: 10px;
  }

}


@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  #experience, 
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow{
    display: none;
  }
  section, 
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .flip-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .flip-container1 {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-left: 3rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #contact, footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers, 
  .contact-info-upper-container, 
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p, 
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align:center
  }
  .flip-container {
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
@media screen and (max-width: 400px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  #experience, 
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow{
    display: none;
  }
  section, 
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .flip-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .flip-container1 {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-left: 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #contact, footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers, 
  .contact-info-upper-container, 
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p, 
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align:center
  }
  .flip-container {
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
@media screen and (max-width: 330px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
  #experience, 
  .experience-details-container {
    margin-top: 2rem;
  }
  .section-container {
    display: block;
  }
  .arrow{
    display: none;
  }
  section, 
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .flip-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    margin-top: 1rem;
  }
  .flip-container1 {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-left: 0.5rem;
  }
  .about-containers {
    margin-top: 0;
  }
  #contact, footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers, 
  .contact-info-upper-container, 
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p, 
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align:center
  }
  .flip-container {
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}