/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

h4 {
  font-weight: normal;
}

/* TRANSITION */

a, 
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

#desktop-nav {
  background-color: #101820;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:#FEE715;
  transition: white 0.3s ease-in-out;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FEE715;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: white;
}

a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:#FEE715;
  transition: white 0.3s ease-in-out;
}

.a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FEE715;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.a:hover {
  color: #FB6542;
}

.a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.aa {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color:#FEE715;
  transition: white 0.3s ease-in-out;
}

.aa::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FEE715;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.aa:hover {
  color: white;
}

.aa:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.logo {
  font-size: 2rem;
  color: transparent;
  animation: colorChange 10s linear infinite;
}

@keyframes colorChange {
  0% { color: red; } /* Start with red color */
  15% { color: violet; }
  30% { color: white; }
  45% { color: blue; }
  60% { color: grey; } 
  75% { color: yellow;}
  90% { color: orange; } 
  100% { color: red; } /* Back to red at the end of animation */
}

.logo:hover {
  cursor: default;
  color:#FEE715 ;
  animation: none;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.icon1 {
  cursor: pointer;
  height: 2rem;
  background-color: none;
}

.icon1:hover {
  cursor: pointer;
  height: 2rem;
  background-color:rgb(11, 180, 247);
}

.icon2 {
  cursor: pointer;
  height: 2rem;
  background-color: none;
}

.icon2:hover {
  cursor: pointer;
  height: 2rem;
  background-color: #faca0c;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;

  background: none;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background:  rgb(85, 85, 85);
  z-index: -1;
  transition: 0.8s;
}

.btn-color-2{
  color: #3498db;
  border: #3498db 0.1rem solid;
}

.btn-color-2:hover{
  background: rgb(85, 85, 85);
  color: white;
  border: rgb(85, 85, 85)  0.1rem solid;
}

.btn-color-2::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn-color-2:hover::before{
  height: 180%;
}

.btn-color-1{
  color: #fff;
  border: rgb(85, 85, 85) 0.1rem solid;
}

.btn-color-1:hover{
  color: #3498db;
  border: #3498db 0.1rem solid;
}

.btn-color-1::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn-color-1::before{
  height: 180%;
}

.btn-color-1:hover::before{
  height: 0%;
}

.btn-container {
  gap: 1rem;
}

.btnprojectr {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid rgb(100, 91, 91);;
  background: transparent;
  color: #FB6542;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btnspan {
  background: white;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.btnprojectr:hover .btnspan {
  width: 100%;
}

.btnprojectr:hover {
  border: none;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

#abt-div {
  background: #87ceeb;
  color: blue;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.about-containers div {
  transition: background 0.5s, transform 0.5s;
}

.about-containers div:hover {
  background: #87ceeb;
  transform: translateY(-10px);
  color: blue;
}

.article-container p{
  color: white;
}


/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.contact-info-upper-container { 
  transition: background 0.5s, transform 0.5s;
  background: #f58269df;
}

.contact-info-upper-container:hover { 
  background: rgb(188, 119, 253);
  transform: translateY(-10px);
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* PIC FLIP SECTION */

.flip-container {
  perspective: 1000px; /* Creates a 3D space for the flip effect */
  display: inline-block; /* Ensures the container wraps around its content */
  position: relative; 
  width: 300px; 
  height: 300px; 
  position: relative;
  top: 7em;
  left: 2em;
}

.flip-container .flipper {
  transition: transform 0.6s; /* Smooth transition when flipping */
  transform-style: preserve-3d; /* Ensures child elements maintain their 3D positions */
  position: relative; 
  width: 100%; 
  height: 100%; 
}

.flip-container:hover .flipper {
  transform: rotateY(180deg); /* Flips the container on hover */
}

.flip-container .flipper .front, 
.flip-container .flipper .back {
  width: 100%; 
  height: 100%; 
  position: absolute; /* Allows precise positioning within the flipper */
  backface-visibility: hidden; /* Hides the back side of the flipper during rotation */
}

.flip-container .flipper .back {
  transform: rotateY(180deg); /* Initially rotates the back image */
}

.flip-container1 {
  perspective: 1000px; /* Creates a 3D space for the flip effect */
  display: inline-block; /* Ensures the container wraps around its content */
  position: relative; 
  width: 250em; 
  height: 400px; 
}

.flip-container1 .flipper1 {
  transition: transform 0.6s; /* Smooth transition when flipping */
  transform-style: preserve-3d; /* Ensures child elements maintain their 3D positions */
  position: relative; 
  width: 100%; 
  height: 100%; 
}

.flip-container1:hover .flipper1 {
  transform: rotateY(180deg); /* Flips the container on hover */
}

.flip-container1 .flipper1 .front1, 
.flip-container1 .flipper1 .back1 {
  width: 100%;
  height: 100%; 
  position: absolute; /* Allows precise positioning within the flipper */
  backface-visibility: hidden; /* Hides the back side of the flipper during rotation */
}
.flip-container1 .flipper1 .back1 {
  transform: rotateY(180deg); /* Initially rotates the back image */
}


